.roles--permission-toggle {
  padding-top: 1em;
  padding-bottom: 1em;
}

.roles--permission-description {
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: 1px solid $--color-separation-border;
}
