.modules-blog-categories--list-header {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;
}

.modules-blog-categories--list-item {
  margin-bottom: 1em;
}

.modules-blog-categories--list-item-action-col {
  text-align: right;
}

.modules-blog-categories--info-articles-list {
  .el-button {
    padding: 0;
  }
}
.modules-blog-categories--info-articles-item {
  margin-left: 10px; 
}