// Index
.modules-content-blocks--list-header {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;
}

.modules-content-blocks--list-item.box-card {
  margin-top: 0;
  margin-bottom: 1em;
}

.modules-content-blocks--list-item-action-col {
  text-align: right;
}
