.modules-mails-preview-dialog {
  .el-dialog {
    width: 80%;
    margin-top: 5vh !important;
  }

  @media only screen and (min-width: 1920px) {
    .el-dialog {
      width: 60%;
      margin-top: 10vh !important;
    }
  }

  .el-dialog__body {
    background-color: $--color-body;
    border-bottom: 1px solid $--color-separation-border;
  }
}

.modules-mails-preview-header {
  padding: 30px 20px;
  margin: -30px -20px 30px;
  background-color: $--color-white;
  border-top: 1px solid $--color-separation-border;
  border-bottom: 1px solid $--color-separation-border;
}

.modules-mails-preview-logo {
  font-size: 32px;
}

.modules-mails-preview-content {
  background-color: $--color-white;
  border-top: 3px solid $--color-body-darkest;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 20px;
  overflow-x: auto;
}
